body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  #blog-content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .blog-post {
    background: #fff;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  #theme-toggle {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .dark-mode {
    background-color: #333;
    color: #fff;
  }
  
  .dark-mode .blog-post {
    background-color: #444;
    color: #fff;
  }
  
  .dark-mode header, .dark-mode footer {
    background-color: #444;
  }
  
  .dark-mode #theme-toggle {
    background-color: #333;
    color: #fff;
  }
  
  .social a {
    text-decoration: none;
    color: #007bff;
    font-size: 35px; 
    margin: 0 10px; 
    transition: transform 0.3s ease, color 0.3s ease;
}

.social a:hover {
    color: #0011ff; 
    transform: scale(1.2); 
}


@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    
    .click {
        top:45px;
    }
    .click span{
        position: absolute;
        margin-top:12px
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity: 0;
        margin:0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top:0;
    }
    nav .navlinks{
        position: absolute;
        top:110px;
        right:-100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba(0,0,0,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right:0;
    }
}
@media(max-width:768px)
{
    .container{
        flex-direction: column;
        padding-top:2rem
    }
    .hero-text{
        padding:40px 0px;
    }
}


